<h1>Welcome to Count My Word</h1>
<h2>The game where words are counted and sheep are scared</h2>
<form action="/your_word_counted">

  <div class="form-group">
    <label for="my_word">Please enter the word you want to count.</label>
    <input id="my_word" name="my_word" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="my_phrase">Please enter the sentence or phrase you want to count your word in.</label>
    <input id="my_phrase" name="my_phrase" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-warning">Go!</button>
</form>
